n8n-workflows/01-sync-job-openings.json
{
  "name": "KPI Dashboard - Sync Job Openings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Daily 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://recruit.zoho.com/recruit/v2/JobOpenings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoRecruitOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "Job_Opening_Name,Job_Opening_Status,Date_Opened,Client_Name,Account_Manager,No_of_Candidates_Associated,No_of_Candidates_Hired"
            },
            {
              "name": "per_page",
              "value": "200"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fetch-job-openings",
      "name": "GET Job Openings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Transform Zoho Recruit response to dashboard API format\nconst responseBody = $input.first().json.body;\nconst items = responseBody.data || [];\n\nconst job_openings = items.map(item => ({\n  id: item.id,\n  title: item.Job_Opening_Name || null,\n  status: item.Job_Opening_Status || null,\n  date_opened: item.Date_Opened || null,\n  client_name: item.Client_Name || null,\n  owner: item.Account_Manager ? item.Account_Manager.name : null,\n  total_candidates: item.No_of_Candidates_Associated != null ? Number(item.No_of_Candidates_Associated) : null,\n  hired_count: item.No_of_Candidates_Hired != null ? Number(item.No_of_Candidates_Hired) : null\n}));\n\nconst moreRecords = responseBody.info ? responseBody.info.more_records : false;\nconst page = responseBody.info ? responseBody.info.page : 1;\n\nreturn [{\n  json: {\n    job_openings,\n    more_records: moreRecords,\n    page,\n    total_fetched: job_openings.length\n  }\n}];"
      },
      "id": "transform-openings",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DASHBOARD_URL}}/api/sync/job-openings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.SYNC_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_openings: $json.job_openings }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "post-to-dashboard",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-more-records",
              "leftValue": "={{ $('Transform Response').item.json.more_records }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-more-pages",
      "name": "More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://recruit.zoho.com/recruit/v2/JobOpenings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zohoRecruitOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "Job_Opening_Name,Job_Opening_Status,Date_Opened,Client_Name,Account_Manager,No_of_Candidates_Associated,No_of_Candidates_Hired"
            },
            {
              "name": "per_page",
              "value": "200"
            },
            {
              "name": "page",
              "value": "={{ $('Transform Response').item.json.page + 1 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fetch-next-page",
      "name": "GET Next Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, -150],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Log completion summary\nconst dashboardResponse = $('POST to Dashboard').first().json;\n\nreturn [{\n  json: {\n    workflow: '01-sync-job-openings',\n    status: 'completed',\n    dashboard_response: dashboardResponse.body || dashboardResponse,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-completion",
      "name": "Log Completion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 150]
    }
  ],
  "connections": {
    "Daily 02:00": {
      "main": [
        [
          {
            "node": "GET Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Job Openings": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "POST to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Dashboard": {
      "main": [
        [
          {
            "node": "More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages?": {
      "main": [
        [
          {
            "node": "GET Next Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Next Page": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "kpi-dashboard"
    },
    {
      "name": "zoho-recruit"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
